.cocktail {
  height: 225px;
  margin: 6px 6px 0px 6px;
}

.cocktail-img {
  position: relative;
  height: 70%;
  background-size: cover;
  // background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.cocktail-infos {
  height: 30%;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.cocktail-infos {
  padding-left: 6px;

}

.btn {
  padding: 10px 25px;
  margin-top: 25px;
  border-radius: 45px;
  opacity: 0.9;
  letter-spacing: 2px;
  transition: visibility 0.3s ease;
}

.cocktail-main-name {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  opacity: 0;
  // visibility:hidden;
  text-transform: uppercase;
  z-index: 2;
  width: 101%;
  height: 101%;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease;
}

.cocktail-img:hover {
  .cocktail-main-name {
    // visibility: visible;
    opacity: 0.8;
  }
}

.cocktail p {
  margin-bottom: 0px;
}

.cocktail-type {
  color: rgba(237, 129, 47, 0.9);
  font-size: 12px;
  padding-top: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.cocktail-name {
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.ingredient-list {
  list-style-type: none;
  font-size: 12px;
  text-transform: none;
  align-items: left;
  font-weight: lighter;
  letter-spacing: 1px;

}

ul.ingredient-list {
    padding-left: 0px;
  }


// .card {
//   height: 165px;
//   background-color: rgba(0,0,0,0.1);
//   color: rgba(0,0,0,0.9);
//   font-family: sans-serif;
//   margin: 10px 10px 0px 10px;
// }

// .card-content {
//   height: 85%;
//   position: relative;
// }

// .card-name {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   right: 10px;
// }

// .card-infos {
//   display: flex;
//   position: absolute;
//   bottom: 10px;
//   left: 10px;
// }

// .card-infos p {
//   padding-right: 10px;
// }

// .card-footer {
//   height: 15%;
//   display: flex;
//   align-items: center;
//   margin: 0px;
//   padding: 0px 10px;
//   background-color: white;
//   color: blue;
// }

// .card-footer p {
//   font-size: 10px;
//   padding-right: 5px;
// }


// h1 {
//   font-size: 14px;
//   font-weight: bold;
//   margin: 0px;
//   padding: 0px;
// }

// p {
//   font-size: 12px;
//   margin: 0px;
//   padding: 0px;
// }
